.revive_header {
  color: white;
  font-size: 14px;
  text-align: center;
}

.revive_footer {
  color: white;
  font-size: 13px;
  text-align: center;
}

.revive_left {
  color: white;
  font-size: 12px;
  text-align: right;
  width: 25%;
}

.revive_right {
  color: white;
  font-size: 12px;
  width: 75%;
}
